[Desktop Entry]
Name=Europa Universalis IV
Comment=Play this game on Steam
Exec=steam steam://rungameid/236850
Icon=steam_icon_236850
Terminal=false
Type=Application
Categories=Game;
