# Ignore
remoteServer/.config/remoteServer/smbcredentials
obs-studio/.config/obs-studio/basic/profiles/GamePlayerColeLive/service.json
obs-studio/.config/obs-studio/basic/profiles/GamePlayerColeLocal/service.json
obs-studio/.config/obs-studio/logs/*
obs-studio/.config/obs-studio/plugin_config/*
obs-studio/.config/obs-studio/profiler_data/*
obs-studio/.config/obs-studio/plugins/*

minecraft/.minecraft/*

i3/.config/i3/config

# Allow
!minecraft/.minecraft/resourcespacks/
!minecraft/.minecraft/saves/
!minecraft/.minecraft/shaderpacks/
!minecraft/.minecraft/minecraftSkin.png
